@use "../presets" as *;
// @use "../mixins/" as *;

%container {
  max-width: $ul;
  margin: 0 auto;
  padding-right: $gap;
  padding-left: $gap;
}

%box-shadow {
  box-shadow: -3px 3px 20px -10px darken($color-gray-dark, 40%);
}
