@use "../../presets/" as *;
@use "../../mixins" as *;

.about {
  background-color: $color-gray-light;

  @include lg-min {
    padding: $gap-x5 0;
  }
  @include lg-md {
    padding: $gap-x4 0;
  }
  @include md-sm {
    padding: $gap-x3 0;
  }
  @include sm {
    padding: $gap-x3 0;
  }
}

.about__container {
  display: flex;

  @extend %container;
  gap: 93px;
  @include lg-min {
    gap: 90px;
  }
  @include lg-md {
    gap: $gap-x2;
  }
  @include md-sm {
    gap: $gap;
  }
  @include sm {
    align-items: center;
    flex-direction: column;

    gap: $gap;
  }
}

.about__content {
  h2 {
    @include lg-min {
      margin: 0 0 48px 0;
    }
    @include lg-md {
      margin: 0 0 34px 0;
    }
    @include md-sm {
      margin: 0 0 23px 0;
    }
    @include sm {
      margin: 0 0 19px 0;

      text-align: center;
    }
  }

  p {
    position: relative;

    letter-spacing: 0.88px;

    color: $color-gray;

    line-height: 20.7px;

    @include lg-min {
      font-size: 1.125rem;
    }
    @include sm {
      line-height: 18.4px;
    }


    &:first-of-type {
      margin-top: -5px;
    }

    &:last-of-type {
      margin: 0;
    }


    &:first-of-type::after {
      position: absolute;
      top: 0;
      // right: -50px;

      width: 2px;
      height: 200px;

      content: "";

      background-color: rgba($color-gray, 0.1);

      @include lg-min {
        right: -50px;
      }
      @include lg-md {
        right: -24.5px;
      }
      @include md-sm {
        right: -18.5px;
      }
      @include sm {
        display: none;
      }
    }
  }
}

.about__image {
  margin: auto 0;

  @include md {
    scale: 0.8708;
  }
  @include sm {
    scale: 0.9836;
  }
  scale: 0.9836;
}
